<% @songs.each do |song| %>
<div class="song-block">
<img class="album-art" src="https://raw.githubusercontent.com/turingschool-examples/set-list-song-index-B2/master/vinyl.jpg">
  <ul>
    <li> <%= song.title %></li>
    <li> <%= song.length %></li>
    <li> <%= song.play_count %></li>
    <% if song.playlist %>
      <li> <%= song.playlist.name %></li>
    <% end %>
  </ul>
</div>
<% end %>

